.app-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
